VITE_SUPABASE_URL=https://qopigbxmwwxbzgaeufav.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFvcGlnYnhtd3d4YnpnYWV1ZmF2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc0NzEzOTEsImV4cCI6MjA5MzA0NzM5MX0.8sDu0TeG9ulpg5XcLhrJjNes2WPXNICmpH-0KCFx1kc
